<div class="container">
  <div class="bg-white shadow-sm p-3 mb-5 bg-body rounded">
    <nav class="navbar">
      <div class="">
        <img src="../../assets/image001.png" class="logo">
      </div>
      <div class="navbar-links">
          <ul class="navbar-nav d-flex flex-row">
              <li class="nav-item px-2 mx-1">
                  <a class="nav-link text-secondary" aria-current="page" routerLinkActive="active" routerLink="/home">Home</a>
              </li>
              <li class="nav-item px-2 mx-1">
                <a class="nav-link text-secondary" aria-current="page" routerLinkActive="active" routerLink="/about-us">About Us</a>
              </li>
              <li class="nav-item px-2 mx-1">
                  <a class="nav-link text-secondary" routerLinkActive="active">Contact Us</a>
              </li>
          </ul>
      </div>
    </nav>
  </div>
  <app-test></app-test>
</div>
